@use '@/styles/variables.scss' as *;

.frame {
  align-items: center;
  background-color: $button-primary-bg;
  display: inline-flex;
  gap: 24px;
  padding: 16px 32px;
  position: relative;
}

.img {
  height: 24px;
  position: relative;
  width: 24px;
  cursor: pointer;
}

.element {
  color: $button-primary-text;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
} 