@use '@/styles/variables.scss' as *;

.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $space-l $space-l;
  gap: $space-xxs;
  background: $button-primary-bg;
  height: 52px;
  min-width: 137px;
  border: none;
  border-radius: 0;
  
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;

  &:not(.loading) {
    &:hover:not(:disabled) {
      background: $button-primary-bg-hover;
    }
  }

  &.loading {
    padding: $space-s $space-l;
    background: $button-primary-bg !important;
  }

  &.loadingAndDisabled {
    background: $button-primary-bg-disabled !important;
    cursor: not-allowed !important;
  }

  &:disabled:not(.loading) {
    background: $button-primary-bg-disabled;
    cursor: not-allowed;
  }

  .loader {
    width: 24px;
    height: 24px;
    color: $button-primary-text !important;
  }
}

.text {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 18px;
  color: inherit;
}
