@use "@/styles/variables.scss" as *;

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: $space-xl;
}

.backButton {
  background: none;
  border: none;
  font-size: 18px;
  color: var(--text-primary);
  cursor: pointer;
  padding: $space-s;
  margin-bottom: $space-xl;

  &:hover {
    color: $brand;
  }
}

.content {
  display: flex;
  gap: $space-xl;
  justify-content: space-between;
  @media (max-width: 768px) {
    margin: 0 auto;
    flex-direction: column;
    justify-items: center;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relatedProducts {
  margin-top: calc($space-xl * 2);
}

.relatedTitle {
  margin-bottom: 32px;

  @media (max-width: 768px) {
    margin: 32px auto;
    text-align: center;
  }
}

.related {
  display: grid;
  gap: $space-l;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(285px, 1fr));
    justify-items: center;
  }
}
