@use "@/styles/variables.scss" as *;

.menuContainer {
  display: flex;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;

  svg {
    color: var(--text-primary);
  }

  .menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    max-width: 350px;
    width: 100%;

    & > li {
      padding: 0 5px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .menuIcons {
    display: flex;
    align-items: center;
    gap: $space-m;
    & > li {
      height: 100%;
    }
    .themeSwitcher {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menuIconLink {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      text-decoration: none;
      color: var(--text-primary);
      transition: color 0.3s ease-in;
      font-size: 12px;
      &:active,
      &:hover {
        color: $brand-hover;
        svg {
          color: $brand-hover;
        }
      }

      @media (max-width: 768px) {
        justify-content: center;
        span {
          display: none;
        }
      }
    }

    svg {
      color: var(--text-primary);
      transition: color 0.3s ease-in;
      &:active,
      &:hover {
        color: $brand-hover;
      }
    }

    .active > svg {
      color: $brand-active;
    }

    @media (max-width: 768px) {
      align-items: center;
    }
  }
}
