$app-bg: #FAFAFA;
$color-white: #FFFFFF;
// Brand colors
$brand: #518581;
$brand-hover: #86AAA7;
$brand-active: #487773;

// Spacing
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

// Text colors
$text-primary: #000000;
$text-secondary: #AFADB5;
$text-accent: #518581;
$text-white: #FFFFFF;
$loader-bg: #518581;

// Input styles
$input-placeholder: #AFADB5;
$input-bg: #FFFFFF;
$input-bg-focus: #FFFFFF;
$input-border: #FFFFFF;
$input-border-focus: #518581;
$input-text-focus: #000000;
$input-bg-disabled: #FFFFFF;
$input-text-disabled: #000000;

// Button styles
$button-primary-bg: #518581;
$button-primary-text: #FFFFFF;
$button-primary-bg-hover: #86AAA7;
$button-primary-text-hover: #FFFFFF;
$button-primary-bg-active: #487773;
$button-primary-bg-disabled: #D9D9D9;
$button-primary-text-active: #FFFFFF;

// Card styles
$product-card-bg: #FFFFFF;
$product-card-image-bg: #D9D9D9;

// Checkbox styles
$checkbox-check: #518581;
$checkbox-check-hover: #518581;
$checkbox-border-hover: #518581;
$checkbox-border-disabled: #FFFFFF;
$checkbox-check-disabled: rgba(255, 255, 255, 0.5);
$checkbox-check-disabled-color: rgba(0, 0, 0, 0.2);

// Dropdown styles
$dropdown-options-bg: #FFFFFF;

// Shadow
$shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$header-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
