@use "@/styles/variables.scss" as *;

.details {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.title {
  font-size: 32px;
  line-height: 1.2;
  word-break: normal;
}

.description {
  margin-top: $space-xl;
  word-break: normal;
}

.price {
  font-size: 44px;
  color: var(--text-primary);
  margin-top: 80px;
  @media (max-width: 768px) {
    margin-top: $space-xl;
  }
}

.actions {
  display: flex;
  gap: calc($space-xl * 2);
  margin-top: calc($space-xl * 2);
  color: $text-white;
  @media (max-width: 768px) {
    margin-top: $space-xl;
    gap: $space-xl;
  }
}

.addToCartButton {
  background: transparent;
  border: 1px solid $text-secondary;

  > span {
    color: var(--text-primary);
  }
}

.buyNowButton {
  color: $text-white;
}
